/* ===== VARIABLES ===== */
:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

/* ===== BASE ===== */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: "Karla", sans-serif;
  background: var(--grayish-blue);
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* ===== LAYOUT ===== */
.main-container {
  width: 39.6875rem;
  height: 29.6875rem;
  background: #fff;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.sub {
  background: var(--cyan);
}

.why {
  background: var(--cyan);
  opacity: 85%;
}
/* ===== COMPONENTS ===== */

/* ===== ATTRIBUTION ===== */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ===== MEDIA QUERIES ===== */
